.containerg {
 margin-top: 150px; 

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 850px;
}

input {
  width: 360px;
}

.cButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 850px;
}

button {
  width: 100%;
}
