<div class="containerg">
<form class="container" [formGroup]="form">
  <div class="content">
    <mat-form-field>
      <mat-label>Titulo</mat-label>
      <input
        matInput
        placeholder="titulo"
        formControlName="titulo"
        name="titulo"
        maxlength="45"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Autor</mat-label>
      <input
        matInput
        placeholder="Nome"
        formControlName="autor"
        name="autor"
      />
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Leave a comment</mat-label>
      <textarea
        matInput
        formControlName="texto"
        placeholder="Ex. It makes me feel..."
      ></textarea>
    </mat-form-field> -->

    <quill-editor 
    [formControl]="form.controls['texto']"
    [styles]="{height: '200px'}">
   </quill-editor> 
        
  </div>


  <div class="cButton">
    <button
      type="sumit"
      mat-raised-button
      color="primary"
      (click)="savePost()" 
    >
      Salvar
    </button>
  </div>
</form>
</div>