/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Mono&display=swap');


html,
body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  overflow:auto;
  background: #f0f0f5;
}

a:hover {
  cursor: pointer;
}
